* {
    box-sizing:border-box;
}

.col-sm-8 {
    border: 1px solid blue;
}
.col-sm-4 {
    border: 1px solid red;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 0;
    background: rgb(34,71,195);
    background: radial-gradient(circle, rgba(34,71,195,1) 0%, rgba(107,164,167,1) 26%, rgba(182,184,120,1) 50%, rgba(206,210,83,1) 75%, rgba(253,200,45,1) 100%);
    background-size: 200%;
    background-position: top left;
}

.main-logo {
    margin-left: 1vw;
}






/* Resetting Bootstrap page widths */
@media (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 992px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}


