/* GLOBAL STYLES */
* {
    box-sizing:border-box;
}

body {
    background: rgb(240, 246, 255);
}

.container {
    max-width: none !important;
}


.col-sm-8 {
    border: 1px solid blue;
}
.col-sm-4 {
    border: 1px solid red;
}

/* HEADER */
@keyframes rotate-hue {
    0% {filter: hue-rotate(10deg);}
    50% {filter: hue-rotate(-30deg);}
    100% {filter: hue-rotate(20deg);}
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 0;
    border-bottom: 2px solid #ccc;
    background: rgb(34,71,195);
    background: radial-gradient(circle, rgba(34,71,195,1) 0%, rgba(107,164,167,1) 26%, rgba(182,184,120,1) 50%, rgba(206,210,83,1) 75%, rgba(253,200,45,1) 100%);
    background-size: 220%;
    background-position: bottom left;
    animation: rotate-hue 4s linear 0ms infinite;
}

.main-logo {
    margin-left: 1vw;
}

/* SEARCH SIDEBAR */
.search-title {
    font-weight: 400;
}
#search-btn {
    background: rgb(0,86,213);
    background: linear-gradient(0deg, rgb(28, 94, 156) 35%, rgba(0, 182, 214, 0.959) 100%);
    color: white;
    margin: 10px auto;
}


/* WEATHER FORECAST */
#weather-forecast {
    padding: 1vw 2vw;
}

#current-weather {
    padding: 1vw 0;
    display: none;
    /* border-bottom: 2px solid #ccc; */
}
.current-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
}

.current-date {
    font-weight: 400;
}

.current-info {
    text-align: center;
}

#five-day {
    padding: 2vw 0 3vw;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    display: none;
}

.five-day-header {
    font-weight: 400;
}

.five-day-blocks {
    display: flex;
    justify-content: space-between;
}

.block {
    flex: 1 0 0;
    margin-right: 1em;
    background-color: #1d5a7a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em .5em;
    border-radius: 10px;
    border: 2px solid #0d4563;
}

.blockhead {
    background-color: white;
    color: #083147;
    width: 80%;
    font-size: 1.3vw;
    text-align: center;
    padding: .4em 0;
    border-radius: 8px;
    margin-top: .3em;
    border: 2px solid #0d4563;
}